/* General Styling */
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  background-color: #f7fcff;
  margin: 0;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 24px;
  font-weight: 700;
  color: #1782cf;
}
.logo:hover{
  transform: scaleY(1.2);
}

/* Updated Search Bar */
.searchbar {
  display: flex;
  align-items: center;
  background: #e0edff;
  border-radius: 25px;
  padding: 8px 15px;
  width: 700px;
  height: 30px;
  border: 1px solid #3a7be6;
}

.searchbar i {
  color: #3a7be6;
  font-size: 18px;
  margin-right: 8px;
}

.searchbar input {
  border: none;
  outline: none;
  background: transparent;
  font-size: 16px;
  flex: 1;
  color: #333;
}

.searchbar button {
  background: #3a7be6;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 20px;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
  font-family: monospace;
}

.searchbar button:hover {
  background: #1d5edc;
  font-family: monospace;
}

/* Profile Menu */
.profile-menu {
  position: relative;
  display: inline-block;
}

.profile-btn {
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  font-family: monospace;
  
}

.dropdown-menu {
  display: none;
  position: absolute;
  right: 0;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.profile-menu:hover .dropdown-menu {
  display: block;
  /* margin-right: 50px; */
  width: 190px;
}

.dropdown-menu a {
  display: block;
  padding: 5px 10px;
  text-decoration: none;
  color: #333;
}

.dropdown-menu a:hover {
  background: #f0f0f0;
  text-decoration: underline;
  text-underline-offset: 10px;
}
