/* Basic Styling */
body {
    font-family: "Poppins", serif;
    font-weight: 400;
    background-color: #f7fcff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: #ffffff;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.forgot-password-box {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    max-width: 400px;
    width: 100%;
}

h2 {
    /* font-size: 24px;
    margin-bottom: 20px; */
    font-size: 1.5rem;
  margin-bottom: 10px;
  color: #1782cf;
}

p {
    font-size: 16px;
    color: #555;
}

label {
    font-size: 14px;
    margin-bottom: 8px;
    display: block;
}

input[type="email"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

button {
    width: 96%;
    padding: 10px;
    border-radius: 10px;
    background-color: #f7fcff;
    border: 1px solid #1782cf;
    color: black;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
    font-family: monospace;
}

button:hover {
    background-color: #1782cf;
    color: white;
    transition: all 0.3s ease-in-out;
    font-family: monospace;
}

.message {
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
    color: green;
}

.message.error {
    color: red;
}
