body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
  background-color: #f9f9f9;
}

.login-container {
  background-color: #ffffff;
  padding: 30px;
  width: 100%;
  max-width: 350px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-container h1 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.login-container p {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 20px;
}

.login-container input {
  width: 95%;
  padding: 10px;
  margin: 10px 0;
  font-size: 0.9rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s;
}

.login-container input:focus {
  border-color: #000000;
}

.login-btn {
  /* background-color: #e23744; */
  color: #000000;
  border: none;
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-btn:hover {
  background-color: #000000;
  color: #ffffff;
}

.login-container .links {
  font-size: 0.9rem;
  margin-top: 25px;
}

.login-container .links a {
  color: #e23744;
  text-decoration: none;
  margin: 0 5px;
}

.login-container .links a:hover {
  text-decoration: underline;
}
